/*
================================================================================
                                   GENERAL
================================================================================
*/

.contenedor{
  max-width: 1440px;
  margin: auto;
  /* position: relative; */
}

body {
  margin: 0px;
}

*{
  font-family: Roboto;
}

body, html{
  height: 100%;
}

/*
================================================================================
                                    NAV
================================================================================
*/

/*
nav {
  position: absolute;
}
*/

.nav{
  overflow: hidden;
  height: 50px;
}

/*
================================================================================
                                  PORTADA
================================================================================
*/


/*Fondo para la portada*/

.background{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: url('../images/cucuta.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.container_text{
    margin-left: 100px;
}

.portada {
  color: white;
  text-decoration: none;

}

.boton {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 20px;
}

.titulo {
  color: white;
  font-size: 80px;
  text-align: left;
  padding-top: 130px;

}
.resumen{
  font-size: 24px;
  margin-top: 0;
}

/*
================================================================================
                                  INTRODUCCION
================================================================================
*/

.sabias_que_margin {
    padding-right: 50px;
    padding-left: 40px;
}
.sabias_que_margin > h1 {
  text-align: center;
  color: #FE5864;
}


.bubble{
    background: #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 70px;
    margin-top: 70px;
    box-shadow: 0 5px 10px 5px rgba(28,28,39,0.1);
}

.imghorizontal{

  display: inline-block;
  width: 24%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.desarrollar_el_pais{
  text-align: center;
  color: #7F2C32;
}

.aqui_tu_podras{
  padding-top: 110px;
}

/*
================================================================================
                                  CATEGORIAS
================================================================================
*/

.cultura{
  height: auto;
}

/*
================================================================================
                                  CONTACTO
================================================================================
*/

.contacto{
  margin-top: 50px;
}

.contacto strong{
  display: block;
}

.contacto a{
  text-decoration: none;
  color: black;
}

.logotipo{
  display: inline-block;
  width: 250px;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.centrar2{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 80%;
}

textarea{
  resize: none;
}

/*
================================================================================
                                  FIRMA
================================================================================
*/

.firma1{
  background: #EFEFEF;
}

.firma2{
  position:static;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: grey;
  margin-top: 90px;
  margin-bottom: 0px;
}

.webdragon{
  color: red;
}


/*
================================================================================
                                  RESPONSIVE
================================================================================
*/


@media screen and (max-width: 800px){

  .nav{
    height: auto;
  }

  .titulo{
      font-size: 45px;
      margin-top: 30px;
    }

  .resumen{
      font-size: 18px;
    }

  .portada{
    height: auto;
  }

  .portada .boton{
    margin-bottom: 30px;
  }

  .background{
    height: auto;
  }

  .imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1000px){

  .cultura{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }
}


}
