/*
================================================================================
                                   GENERAL
================================================================================
*/

.contenedor{
  /* max-width: 1440px; */
  margin: auto;
  /* position: relative; */
}

body {
  margin: 0px;
}

*{
  font-family: Roboto;
}

body, html{
  height: 100%;
}

/*
================================================================================
                                    NAV
================================================================================
*/

/*
nav {
  position: absolute;
}
*/

.nav{
  overflow: hidden;
  height: 50px;
}

/*
================================================================================
                                  PORTADA
================================================================================
*/


/*Fondo para la portada*/

.background{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: url('../images/cucuta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_text{
    margin-left: 100px;
}

.portada {
  color: white;
  text-decoration: none;

}

.boton {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 20px;
}

.titulo {
  color: white;
  font-size: 80px;
  text-align: left;
  padding-top: 130px;

}
.resumen{
  font-size: 24px;
  margin-top: 0;
}

/*
================================================================================
                                  INICIO
================================================================================
*/

.madein{
  width: 350px;
}

.muy_pronto{
  padding-top: 35px;
  padding-right: 50px;
  padding-left: 40px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}

.muy_pronto h1{
  font-size: 65px;
}

.muy_pronto h2{
  font-size: 25px;
}


.texto_donar {
  color: white;
  padding-top: 65px;
  padding-right: 50px;
  padding-left: 40px;
  text-align: center;
}

.donar_background {
  height: 300px;
  background-image: url('../images/jungla.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.donar_layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sabias_que_margin {
    padding-right: 50px;
    padding-left: 40px;
}
.sabias_que_margin > h1 {

  text-align: center;
  color: #FE5864;
}


.lista_sabias{
  list-style: none;
}

.lista_sabias li:before{
content: '\274C';
margin-left: -20px;
margin-right: 10px;
}

/* ===============================MENU HORIZONTAL SIN EMBARGO==================== */

.bubble{
    background: #fff;
    border-radius: 20px;
    /* padding: 20px 0; */
    margin-bottom: 70px;
    margin-top: 70px;
    box-shadow: 0 5px 10px 5px rgba(28,28,39,0.1);
}

.imghorizontal{

  width: 10%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.iconos i{
  font-size: 50px;
  font-size: 40px;
}

.elementos{
  padding-top: 50px;
}

.simbolo{
  padding-top: 70px;
}

.mejor_pais{
  padding-top: 15px;
  padding-right: 10px;
}

/* ================================================================================ */

.desarrollar_el_pais{
  text-align: center;
  color: #7F2C32;
}

/* ADAPTACIONES PARA CENTRAR LOS TEXTOS */

.que_es{
  padding-top: 80px;
}

.sabias{
  padding-top: 50px;
}


.lo_haces{
  padding-top: 100px;
}

.aqui_tu_podras{
  padding-top: 150px;
}

.aunque {
  text-align: center;
}


/*
================================================================================
                                  CATEGORIAS
================================================================================
*/

.cultura{
  height: auto;
}

/*
================================================================================
                                  CONTACTO
================================================================================
*/
.margin_contact_section {
  margin-top: 50px;
}

.contacto{
  margin-top: 50px;
}

.contacto strong{
  display: block;
}

.contacto a{
  text-decoration: none;
  color: black;
}

.logotipo{
  display: inline-block;
  width: 250px;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.centrar2{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 80%;
}

textarea{
  resize: none;
}

.social_icons{
    width: 30%;
    margin-top: 30px;
    font-size: 48px;
    cursor: pointer;
}

.social_icons a {
  color: inherit;
}
.social_icons .a:hover {
  color: #B82BA8;
}

.social_icons .b:hover {
  color: #335A98;
}

.social_icons .c:hover {
  color: #00AEE9;
}

/*
================================================================================
                                  FIRMA
================================================================================
*/

}
.firma1{
  background: #EFEFEF;
}

.firma2{
  position:static;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: grey;
  margin-top: 10px;
  margin-bottom: 0px;
}

.webdragon{
  color: red;
}


/*
================================================================================
                                  RESPONSIVE
================================================================================
*/

@media (max-width: 1250px){

  .cultura{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }

  .muy_pronto h1{
    font-size: 50px;
  }

  .madein {
    width: 320px;
  }

  .logotipo {
    display: inline-block;
    width: 210px;
  }

  .contenedor {
    /* max-width: 1140px; */
    margin: auto;
  }

  .titulo {
    color: white;
    font-size: 70px;
    text-align: left;
    padding-top: 120px;
    margin-left: 50px;
  }

  .resumen {
    font-size: 24px;
    margin-top: 0;
    margin-left: 50px;
  }

  .boton {
    margin-left: 50px;
  }
}

@media (max-width: 1024px) {

  .cultura{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }

  .muy_pronto h1{
    font-size: 40px;
  }

  .madein {
    width: 268px;
  }

  .logotipo {
    display: inline-block;
    width: 162px;
  }

  .contenedor {
    /* max-width: 940px; */
    margin: auto;
  }

  .background {
    height: 450px;
  }

  .titulo {
    color: white;
    font-size: 60px;
    text-align: left;
    padding-top: 80px;
    margin-left: 50px;
  }

  .texto_donar {
    font-size: 30px;
  }

  .resumen {
    font-size: 22px;
    margin-top: 0;
    margin-left: 50px;
  }

  .boton {
    margin-left: 50px;
  }

  .social_icons {
    width: 70%;
  }

  .img_culture {
    margin-top: 90px;
  }

  /* Acerca de*/

  .que_es {
    padding-top: 0px;
  }

  .img_a{
    margin-top: 50px;
  }

  .img_b{
    margin-top: 150px;
  }

  .img_c{
    margin-top: 10px;
  }

  .img_d{
    margin-top: 30px;
  }

  .aqui_tu_podras {
    padding-top: 0px;
  }

  .sabias_que_margin h1 {
    font-size: 30px;
  }
}

@media (max-width: 800px){

  .nav{
    height: auto;
  }

  .titulo{
    font-size: 45px;
    margin-top: 30px;
  }

  .resumen{
    font-size: 18px;
  }

  .portada{
    height: auto;
  }

  .portada .boton{
    margin-bottom: 30px;
  }

  .background{
    height: auto;
  }

  .imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }

  .iconos img {
    width: 100%;
  }

  .iconos i {
    font-size: 20px;
  }

  .img_c {
    width: 90%;
    height: 500px;
  }

  .lo_haces {
    padding-top: 0px;
  }

  .bubble {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .sabias_que_margin {
    margin-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
    padding-right: 10px;
  }

  .img_culture {
    padding-top: 80px;
    padding-left: 0px;
    margin: 0 auto;
  }

}

@media (max-width: 523px) {

  .titulo{
    padding-top: 100px;
    text-align: center;
    font-size: 70px;
    font-size: 50px;
    margin-top: 20px;

    margin-left: 0px;
    text-align: center;
  }

  .contenedor{
    text-align: center
  }

  .resumen{
    font-size: 25px;
    margin-left: 0px;
  }

  .portada .boton{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-left: 0px;
  }

  .background{
    height: 800px;
    height: 490px;
  }

  .muy_pronto h1 {
    font-size: 30px;
  }

  .muy_pronto h2 {
    font-size: 18px;
  }

  .imagen {
    width: 50%;
  }

  .texto_donar {
    font-size: 22px;
  }

  .donar_background {
    height: 230px;
  }

  .sabias_que_margin h1 {
    font-size: 22px;
  }

  #nosotros p {
    font-size: 16px;
  }

  #nosotros li {
    font-size: 16px;
  }

  .img_b , .img_a, .img_d, .img_e {
    width: 90%;
    margin-top: 0px;
  }

  .img_a {
    margin-top: 100px;
  }
  .img_c {
    width: 90%;
    height: 400px;
  }

  .sabias {
    padding-top: 10px;
  }

  .bubble {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .center {
    justify-content: none;
  }

  .iconos i {
    font-size: 40px;
  }

  .iconos img {
    width: 20%;
  }

  .desarrollar_el_pais {
    font-size: 12px;
  }

  .imghorizontal{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .size {
    width: 300px;
    margin: 0 auto;
  }

  .elementos {
    padding-top: 10px;
  }

  .simbolo {
    padding-top: 0px;
  }

  /* CATEGORIAS */

  .sabias_que_margin {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .img_culture {
    padding-top: 80px;
  }

}
